@charset "UTF-8";

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

body,
input,
textarea,
select,
button,
table {
    font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', NanumGothic, Dotum, sans-serif;
    font-size: 15px;
    line-height: 1.25em;
}

body {
    position: relative;
    background-color: #ecf0f7;
    -webkit-text-size-adjust: none;
}

img,
fieldset {
    border: 0;
}

ul,
ol {
    list-style: none;
}

em,
address {
    font-style: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
	color: inherit;
}

a,
button {
    &:focus,
    &:active {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}

table {
    border-collapse: collapse;
}

hr {
    display: none !important;
}

button {
    border: none;
    background-color: inherit;
    outline: none;
    cursor: pointer;
}

input,
textarea,
select,
button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-family: inherit;
    box-shadow: none;
    appearance: none;
    color: inherit;
}

svg {
    pointer-events: none;
}

a,
button {
    &:focus,
    &:active {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}
